<div class="navbar">
  <div class="navbar-menu">

    <div class="navbar-section">
      <div class="section-items">
        <a routerLink="/home" routerLinkActive="active" class="item">
          <div class="content">
            <div class="label-container">
              <div class="label">Inicio</div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="navbar-section dropdown"
         (mouseenter)="toggleDropdown('cotizacion')"
         (mouseleave)="closeDropdowns()">
      <div class="section-items">
        <div class="item dropdown-toggle" [class.active]="activeDropdown === 'cotizacion'">
          <div class="content">
            <div class="label-container">
              <div class="label">Cotizaciones</div>
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown-menu" [class.show]="activeDropdown === 'cotizacion'">
        <a routerLink="/quotation" routerLinkActive="active" class="dropdown-item">
          <div class="content">
            <div class="label-container">
              <div class="label">Nueva Cotización</div>
            </div>
          </div>
        </a>
        <a routerLink="/quotation-list" routerLinkActive="active" class="dropdown-item">
          <div class="content">
            <div class="label-container">
              <div class="label">Listar Cotizaciones</div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="navbar-section dropdown"
         (mouseenter)="toggleDropdown('ordenes')"
         (mouseleave)="closeDropdowns()">
      <div class="section-items">
        <div class="item dropdown-toggle" [class.active]="activeDropdown === 'ordenes'">
          <div class="content">
            <div class="label-container">
              <div class="label">Órdenes</div>
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown-menu" [class.show]="activeDropdown === 'ordenes'">
        <a routerLink="/order" routerLinkActive="active" class="dropdown-item">
          <div class="content">
            <div class="label-container">
              <div class="label">Nueva Orden</div>
            </div>
          </div>
        </a>
        <a routerLink="/order-list" routerLinkActive="active" class="dropdown-item">
          <div class="content">
            <div class="label-container">
              <div class="label">Listar Órdenes</div>
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>

  <div class="navbar-actions">
    <div class="navbar-section">
      <div class="section-items">
        <a class="item" (click)="onLogout()">
          <div class="content">
            <div class="label-container">
              <div class="label">Cerrar Sesión</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
