.quotation-list {
    width: 100%;
    height: calc(100vh - 6vh);
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 4px;
    box-sizing: border-box;
    overflow: hidden;
}

.quotation-list .panel {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 4px;
}

.quotation-list .panel.main {
    height: 100%;
}

.quotation-list .panel.main .main-row {
    width: 100%;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    flex-shrink: 0;
}

.quotation-list .panel.main .main-row.top {
    height: 20%;
    background-color: white;
}

.quotation-list .panel.main .main-row.middle {
    height: 70%;
    background-color: white;
}

.quotation-list .panel.main .main-row.bottom {
    height: 10%;
    background-color: white;
}