<div class="list-top">
    <div class="container">
        <div class="wrapper">
            <svg class="icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path
                        d="M15.7955 15.8111L21 21M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </g>
            </svg>
            <input type="text" class="input" placeholder="Buscar cotizaciones..." value="" autocomplete="off">
        </div>
        <div class="filters">
            <div class="group">
                <button type="button" class="button active">
                    <span class="label">Número</span>
                </button>
                <button type="button" class="button">
                    <span class="label">Estado</span>
                </button>
                <button type="button" class="button">
                    <span class="label">Usuario</span>
                </button>
            </div>
            <div class="group-toggle">
                <button type="button" class="toggle">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path
                                d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                                stroke="currentColor" stroke-width="2"></path>
                        </g>
                    </svg>
                    <span class="label">Rango Fechas</span>
                </button>
            </div>
        </div>
    </div>
</div>