.product {
  width: 100%;
  height: calc(100vh - 6vh);
  display: flex;
  flex-direction: row;
  gap: 2px;
  box-sizing: border-box;
  overflow: hidden;
  background: rgba(128, 128, 128, 0.2);
}

.product .panel {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 2px;
}

.product .panel.left {
  width: 60%;
}

.product .panel.right {
  width: 40%;
}

.product .panel.left .left-row {
  width: 100%;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}

.product .panel.left .left-row.top {
  height: 15%;
}

.product .panel.left .left-row.middle {
  height: 45%;
}

.product .panel.left .left-row.bottom {
  height: 40%;
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.product .panel.left .left-row.bottom .bottom-col {
  height: 100%;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
}

.product .panel.left .left-row.bottom .bottom-col.left-col {
  width: 50%;

}

.product .panel.left .left-row.bottom .bottom-col.right-col {
  width: 50%;

}

.product .panel.right .right-row {
  width: 100%;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}

.product .panel.right .right-row.top {
  height: 50%;

}

.product .panel.right .right-row.bottom {
  height: 50%;
  background-color: white;
}