.app-container {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  background: rgb(249, 248, 247);
}

.layout-main {
  height: 94vh;
  max-height: 94vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  flex: 1;
}
