<div class="top-left">

  <div class="header-section">

    <div class="left-section">
      <div class="row">
        <span class="label">{{ currentDate }}</span>
      </div>

      <div class="row">
        <span class="value">{{ currentTime }}</span>
      </div>
    </div>

    <div class="right-section">
      <div class="badge primary">
        COTIZACIÓN
      </div>
    </div>

  </div>

  <div class="footer-section">
    <div class="badge-group">
      <div class="badge secondary">
        WH-CENTRAL
      </div>
    </div>
  </div>

</div>
